In [4]:
import yfinance as yf
from pandas_datareader import data as pdr
import os
from dotenv import load_dotenv
import typing
from fmp_python.fmp import FMP
import pandas as pd
import numpy as np
from urllib.request import urlopen
import json
import csv
import bs4 as bs
import requests

In [122]:
spyTicker = np.loadtxt('sp500tickers.csv', delimiter=",", dtype=str)
testTickers = spyTicker[0:2]

In [89]:
spyKeyRatio = pd.DataFrame()

In [90]:
testTickers

array(['MMM', 'ABT', 'ABBV', 'ABMD', 'ACN', 'ATVI', 'ADBE', 'AMD', 'AAP',
       'AES', 'AFL'], dtype='<U5')

In [91]:
load_dotenv()
apikey = os.environ.get("apikey")
spyKeyRatio = pd.DataFrame()

'b329a8c1d83f4b0d64717303f0abc9d6'

In [ ]:
#!/usr/bin/env python

def get_jsonparsed_data(url):
    """
    Receive the content of ``url``, parse it as JSON and return the object.

    Parameters
    ----------
    url : str

    Returns
    -------
    dict
    """
    response = urlopen(url)
    data = response.read().decode("utf-8")
    return json.loads(data)

In [135]:
def getData(datatype, ticker, apikey):
    url = ("https://financialmodelingprep.com/api/v3/"+datatype+"/"+ticker+"?&apikey="+apikey)
    jsonData = get_jsonparsed_data(url)
    return jsonData

In [140]:
#Getting Ratio Data
for ticker in testTickers:
    ratioJsondata = getData('ratios', ticker, apikey)
    sectorJsondata = getData('profile', ticker, apikey)
    df = pd.DataFrame.from_dict(ratioJsondata, orient='columns')
    df['industry']=sectorJsondata[0]['industry']
    df['sector']=sectorJsondata[0]['sector']
    df = df.drop(['period'], axis=1)
    spyKeyRatio = pd.concat([spyKeyRatio,df], axis=0)

In [149]:
from pandas_datareader import data as pdr
import fix_yahoo_finance as yf
yf.pdr_override() # <== that's all it takes :-)

In [161]:
sectorJsondata = getData('profile', 'APPL', apikey)
df = pd.DataFrame.from_dict(ratioJsondata, orient='columns')

In [164]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [1]:
spyKeyRatio

NameError: name 'spyKeyRatio' is not defined

In [74]:
test1 = pd.DataFrame({'TICKER':['MMM','MMM','AAPL','AAPL','BRK-B'],'date':[1,2,1,2,1],'PRICE':[4,5,5,6,7]})
test1

  TICKER  date  PRICE
0    MMM     1      4
1    MMM     2      5
2   AAPL     1      5
3   AAPL     2      6
4  BRK-B     1      7

In [75]:
test2 = pd.DataFrame({'TICKER':'SPY','date':[1,2],'PRICE':[1,2]})
test2

  TICKER  date  PRICE
0    SPY     1      1
1    SPY     2      2

In [86]:
test1[test1['TICKER']=='MMM'].set_index('date')['difference']= test1[test1['TICKER']=='MMM'].set_index('date')['PRICE']-test2.set_index('date')['PRICE']

In [88]:
pd.concat([test1,test2],on='date')

TypeError: concat() got an unexpected keyword argument 'on'

In [16]:
test1['difference'] = test1['PRICE']-test2['PRICE']

In [61]:
test1[test1['TICKER']=='AAPL']['PRICE']

2    5
3    6
Name: PRICE, dtype: int64

In [90]:
test1.merge(test2, on='date')

  TICKER_x  date  PRICE_x TICKER_y  PRICE_y
0      MMM     1        4      SPY        1
1     AAPL     1        5      SPY        1
2    BRK-B     1        7      SPY        1
3      MMM     2        5      SPY        2
4     AAPL     2        6      SPY        2

In [44]:
# test1['differenct'] = test1['PRICE'].apply(lambda x: x-test2[test2['date']==x]['PRICE'])
test1['differenct'] = test1['PRICE'].subtract(test2['PRICE'])

In [45]:
test1

   TICKER  date  PRICE differenct
0     3.0     1      4        3.0
1     3.0     2      5        3.0
2     NaN     1      5        NaN
3     NaN     2      6        NaN
4     NaN     1      7        NaN